@charset "UTF-8";
table{
	border-collapse: collapse;
	border-spacing: 0;
	width: 95%;
	margin: 10px auto;
	border: 1px solid;
}
tr{
	border: 1px solid #ddd;
	background-color: gray;
}
th{
	text-align: left;
}
td,th{
	padding: 8px
}
tr.content-body:nth-child(even){
	background-color: #ccc;
}
tr.content-body:nth-child(odd){
	background-color: #fff;
}
tr.content-body:hover{
	background-color: #ddd;
	cursor: pointer;
}