@charset "UTF-8";
/***** 공통 ******/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	width: 1200px;
	display: flex;
	flex-flow: column nowrap;
	margin: 0 auto;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

/***** header ******/
#lee-header {
	position: relative;
	width: 100%;
}

#lee-header>h3>a {
	display: inline-block;
	margin: 0 80px;
	margin-top: 5px;
}

#lee-header>h3>a>img {
	width: 25%;
	height: 25%;
}

/***** header - search ******/
#lee-search-form>fieldset {
	border: none;
}

#lee-legend {
	display: none;
}

#lee-search-form {
	display: flex;
}

#lee-hsearch {
	font-size: 1.1rem;
	text-align: center;
	width: 600px;
	padding: 4px 20px;
	position: absolute;
	top: 51px;
	right: 252px;
}

#lee-btn-hsearch {
	position: absolute;
	top: 51px;
	right: 160px;
	border: none;
	background-color: #14974b;
	color: white;
	font-size: 1rem;
	padding: 5px 30px 7px 30px;
	cursor: pointer;
}

#lee-btn-hsearch:hover {
	background-color: #7bc043;
}

/***** nav ******/
#lee-nav {
	background-color: #7bc043;
	width: 100%;
	margin-top: 1px;
}

#lee-nav>ul {
	display: flex;
}

#lee-nav>ul>li>a {
	text-align: center;
	font-size: 1rem;
	color: white;
	display: inline-block;
	padding: 10px 26px;
}

#lee-nav>ul>li>a:hover {
	background-color: #14974b;
	color: white;
	font-weight: bold;
}

#lee-nav>ul>li:nth-child(6) {
	margin-left: auto;
}

/***** main-banner ******/
.swiper-container {
	position: relative;
	width: 100%;
	height:100%;
	padding-bottom:344px;
}

.swiper-slide>img {
	display: block;
	width: 100%;
}

.lee-ban-info {
	position: absolute;
	top: 85px;
	right: 260px;
}

.lee-ban-info>span {
	font-size: 1rem;
}

.lee-ban-info>strong {
	display: block;
	font-size: 1.4rem;
	padding: 6px 0;
}

.lee-ban-info>p {
	display: block;
	font-size: 0.8rem;
	color: #3b3b3b;
	padding: 1px 0;
}

#shop {
	display: inline-block;
	background-color: #424242;
	color: white;
	font-size: 0.7rem;
	text-align: center;
	padding: 7px 27px;
	margin-top: 17px;
}

/***** main-near ******/
#lee-hs-near {
	width: 85%;
	margin: 110px auto;
}

#lee-hs-near>h4 {
	color: #34495e;
	font-size: 1.9rem;
	padding-bottom: 40px;
}

#lee-hs-search {
	position:relative;
	display: flex;
	width: 60%;
	margin: 0 auto;
}

#lee-dong-search {
	font-size: 0.8rem;
	text-align: center;
	width: 526px;
	padding: 4px 20px;
}

#lee-btn-dong {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	background-color: #14974b;
	color: white;
	font-size: 0.8rem;
	padding: 4px 30px 6px 30px;
	cursor: pointer;
}

#lee-btn-dong:hover {
	background-color: #7bc043;
}

#lee-hs-near-box {
	display: flex;
	margin-top: 30px;
}

#lee-hs-info1 {
	margin-left: 40px;
}

#lee-hs-info2, #lee-hs-info3 {
	margin-left:auto;
}

.lee-hs-info>a {
	display: block;
}

.lee-hs-info>ul>li {
	color: #3b3b3b;
	font-size: 0.9rem;
	padding: 1px 0;
}

.lee-hs-info>ul>li:nth-child(2) {
	font-size: 1.2rem;
	font-weight: bold;
	color: #34495e;
}

.lee-hs-info>ul>li:first-child {
	position: relative;
}

.lee-hs-info>ul>li:first-child>span {
	display: block;
	position: absolute;
	top: 13px;
	left: -40px;
	width: 40%;
	border-top: 3px solid #34495e;
	color: #34495e;
	font-size: 1.8rem;
	font-weight: bold;
	padding-left: 15px;
}

/***** footer ******/
#lee-footer {
	background-color: #7bc043;
	position: relative;
	margin-top: 40px;
}

#lee-footer>h3>a {
	display: inline-block;
	margin: 30px 0;
	margin-left: 40px;
}

#lee-footer>h3>a>img {
	width: 20%;
	height: 20%;
}

#lee-footer-info {
	position: absolute;
	top: 47px;
	left: 185px;
	font-size: 1rem;
	color: #333;
}

#lee-footer-info>ul {
	display: flex;
}

#lee-footer-info>ul>li>a {
	display: inline-block;
	color: #333;
}

#lee-footer-info>ul>li:nth-child(2) {
	padding: 0 13px;
}

#lee-footer-info>ul>li a:hover {
	color: white;
}

#lee-footer-info>p {
	padding: 3px 0;
}

#lee-footer-info>address {
	font-style: normal;
}
