<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.product.persistence.ProductDao">
	<select id="proTotalCount" resultType="Long">
		select count(*) from tbl_product
	</select>
	<select id="selectPagination" resultMap="proAndFiles">
		select * from
		(
		select /*
		+ first_rows_100 */ rownum as num,ip. * from
		(
		select /*+ index_desc(p) */ *
		from tbl_product p
		)ip
		where rownum &lt;= #{limit}
		) tbl
		where num &gt;=
		#{offset}
	</select>

	<select id="selectAll" resultMap="proAndFiles">
		select * from tbl_product
		ORDER
		BY p_code desc
	</select>

	<resultMap type="productDTO" id="proAndFiles">
		<id column="p_code" property="p_code" />
		<result column="p_name" property="p_name" />
		<result column="p_iprice" property="p_iprice" />
		<result column="p_oprice" property="p_oprice" />
		<result column="p_vat" property="p_vat" />
		<result column="p_file" property="p_file" />
		<collection property="p_files" column="p_code"
			ofType="proFileDTO" select="findByPCodeFiles" />
	</resultMap>
	<select id="findByPCode" resultMap="proAndFiles">
		select * from tbl_product
		WHERE p_code = #{p_code}
	</select>

	<select id="findByPCodeFiles" resultType="proFileDTO">
		select * from tbl_files
		where file_p_code=#{p_code}
	</select>

	<select id="findByPNames" resultType="productDTO">
		select * from tbl_product
		WHERE p_name LIKE '%' || #{p_name} || '%'
	</select>

	<select id="getMaxPCode" resultType="String">
		select max(p_code) from
		tbl_product
	</select>

	<insert id="insert" parameterType="productDTO">
		insert into tbl_product(
		P_CODE,
		P_NAME,
		P_IPRICE,
		P_OPRICE,
		P_VAT,
		P_FILE
		) values (
		#{p_code,jdbcType=VARCHAR},
		#{p_name,jdbcType=VARCHAR},
		#{p_iprice,jdbcType=VARCHAR},
		#{p_oprice,jdbcType=VARCHAR},
		#{p_vat,jdbcType=VARCHAR},
		#{p_file,jdbcType=VARCHAR}
		)
	</insert>

	<update id="update" parameterType="productDTO">
		update tbl_product set
		P_NAME=#{p_name,jdbcType=VARCHAR},
		P_IPRICE=#{
		p_iprice,jdbcType=VARCHAR},
		P_OPRICE=#{ p_oprice,jdbcType=VARCHAR},
		P_VAT=#{ p_vat,jdbcType=VARCHAR},
		P_FILE=#{p_file,jdbcType=VARCHAR}
		where P_CODE=#{p_code,jdbcType=VARCHAR}
	</update>

</mapper>